/* --- colors --- 
-- Head -- 
Студия #2196F3; (голубой)  Портфолио #212121; (черный)  Контакты  #212121 (черный);
почта  #2196F3; (голубой)  телефон #757575 (серый);
Фон background: #FFFFFF (белый);

-- Hero --
Фон background: #2F303A (черный); Текст #FFFFFF (белый) ?  Кнопка: Текст #FFFFFF (белый) ?,
hover button #188CE8  
Фон #2196F3 (голубой) 

-- Features --
Фон background: #E5E5E5 (белый)
Внимание к деталям #212121 (черный); Пунктуальность #212121; Планирование #212121; Тех #212121;
Текст #F5F4FA (серый)

-- Чем мы занимаемся и Команда --
Фон #E5E5E5 (белый)
Заголовок Команда и имена #212121 (черный)
Фон в команде и должности #f5f4fa (серый)

-- footer --
Фон #2F303A (черный)

*/
:root {
    --primary-bc-color: #E5E5E5;
    --secondary-bc-color: #2F303A;
    --team-bc-color: #F5F4FA;
    --white-bc-color: #FFFFFF; 
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
/* ----- <body> start-page ----- */

.start-page {
    font-family: "Roboto", Tahoma, sans-serif;
    background-color: var(--white-bc-color);
     color: var(--primary-text-color);
 }

 p,h1,h2,h3,h4,h5,h6 {
     margin: 0;
 }

 ul, ol {
    padding-left: 0;
    margin: 0;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 .link {
     text-decoration: none;
 }

 .list {
     list-style: none;
 }

 .container {
     width: 1200px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 0 auto;
     /*
     outline: 1px solid red; */
 }

 .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
 }

 .head-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }

 .secondary-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

 }

 /* ----- Header ----- */

 .header {
     padding-top: 24px;
     padding-bottom: 25px;
     border-bottom: 1px solid #eeeeee;

     background-color: var(--white-bc-color);
 }

.header .container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}


/* --- header-logo --- */


.header-logo {
    display: block;
    margin-right: 93px;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

    color: var(--accent-color);
}

.header-logo-black {
    color: var(--primary-text-color);
}

/* --- header-list --- */

.header-link {
padding-top: 32px;
padding-bottom: 32px;

color: var(--primary-text-color);

position: relative;

transition: color 250ms var(--timing-function);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current::after {
    content: '';

    display: block;
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-radius: 2px;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.header-item:not(:last-child) {
    margin-right: 50px;
}


/* --- header-address --- */

.header-nav {
    margin-left: auto;
}

.header-address {
    display: flex;
}

.header-mail-link {
    display: flex;
    margin-right: 50px;
    align-items: center;

    color: var(--secondary-text-color);

    transition: color 250ms var(--timing-function);
}

.header-mail-link:hover,
.header-mail-link:focus {
    color: var(--accent-color);  
}

.header-mail-icon {
    margin-right: 10px;
    
    fill: currentColor;
    }

.header-tel-link {
    display: flex;
    align-items: center;

    color: var(--secondary-text-color);  

    transition: color 250ms var(--timing-function);
}

.header-tel-link:hover,
.header-tel-link:focus {
    color: var(--accent-color);
}

.header-tel-icon {
    margin-right: 10px;
    align-items: baseline;
    
    fill: currentColor;
    }

/*
.header-tel-link .header-tel-icon:hover,
.header-tel-link .header-tel-icon:focus {
    color: var(--accent-color); 
    fill: var(--accent-color); 
}
*/

/* ----- Hero ----- */


.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--secondary-bc-color);

        background-image:linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero_bc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1600px;
        margin: 0 auto;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: var(--white-bc-color);
}

.hero-btn { 
    width: 200px; 
    height: 50px;
    border: none;
    border-radius: 4px;

font-family: inherit; 
font-style: normal; 
font-weight: 700;  
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
background-color: var(--accent-color);

    display: block;
    margin: 0 auto;
    text-align: center;

color: var(--white-bc-color);
cursor: pointer;

transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
}

/* --- features --- */

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
}

/*.features-item::before {
    display: block;
    content: '';
    height: 120px;

    background-image: url(../images/features_antenna.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
} */

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-icon {
display: flex;
max-width: 270px;
height: 120px;
justify-content: center;
align-items: center;

margin-bottom: 30px;

    background-color: var(--team-bc-color);   
}

.features-top-text {
    margin-bottom: 10px;

font-style: normal;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

    color: var(--primary-text-color);

}

.features-text { 
max-width: 270px;   

    color: var(--secondary-text-color);
}

/* --- <work> Чем мы занимаемся --- */

.work {
    padding-bottom: 94px;
} 

.work-pictures {
    display: flex;
}

.work-title {
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 50px;

font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.work-image:not(:last-child) {
    margin-right: 30px;
}

.work-box {
position: relative;
}

.work-text {
position: absolute;
bottom: 0;
  
display: flex;
justify-content: center;
align-items: center;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;

width: 100%;
height: 70px;

color: var(--white-bc-color);
background-color: #2F303ACC;
}

/* --- <team> Наша команда --- */

.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--team-bc-color);
}

.team-title {
    margin-bottom: 50px;

font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.team-pictures {
    display: flex;
    margin-left: -30px;
}

.team-image {
    width: calc(100% / 4 -30px);
    margin-left: 30px;

    box-shadow: 0px 1px 3px #00000033, 0px 1px 1px #00000024,
    0px 2px 1px #0000001f;;
}

.team-name {
    margin-bottom: 10px;

font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;

    color: var(--primary-text-color);
}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;

    margin-bottom: 16px;

    color: var(--secondary-text-color);
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #fff;
}

.team-social-list {
    display: flex;
    justify-content: center;
}

.team-social-item + .team-social-item {
    margin-left: 10px;
}

.team-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--white-bc-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms var(--timing-function); 
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color)
}

.team-social-icon {
    fill: #AFB1B8;

    transition: fill 250ms var(--timing-function);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon{
    fill: var(--white-bc-color);
}

/* ----- Постоянные клиенты ----- */

.clients {
    padding: 94px 0px;
}


.clients-title {
    margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
    
    color: var(--primary-text-color);

}

.clients-list {
    display: flex;
}

.clients-item {
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;

    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-position: center;

    fill: #AFB1B8;

    transition: fill 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.clients-link-icon {
    display: flex;
}
/*
.clients-link-icon {
    fill: #AFB1B8;
    display: inline-block;
}
.clients-link-icon:hover,
.clients-link-icon:focus {
    fill: var(--accent-color);  
}
/*
.clients-link:hover .clients-link-icon,
.clients-link:focus .clients-link-icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
.clients-link-icon:hover .clients-link-icon:focus {
    fill: var(--accent-color)
} 
*/


/* ----- <footer> Контакты ----- */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-bc-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo {  
    margin-bottom: 20px;
    display: block;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

    color: var(--accent-color);
}
.footer-logo-white {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

    color: var(--white-bc-color);
}
.address-list {
    max-width: 231px;
}
.footer-address-street {
    display: block;
    margin-bottom: 9px;

    color: var(--white-bc-color);
}
.footer-mail-link {
    display: block;
    margin-bottom: 9px;

    color: rgba(255, 255, 255, 0.6); 
    transition: color 250ms var(--timing-function);
}
.footer-mail-link:hover,
.footer-mail-link:focus {
    color: var(--accent-color);
}

.footer-tel-link {
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--timing-function);
}
.footer-tel-link:hover,
.footer-tel-link:focus {
    color: var(--accent-color);
}


/* ----- Присоединяйтесь ----- */

.footer-social {
    margin-left: 70px;
    display: block;
    justify-content: center;
}

.footer-social-title {

font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em; 
text-align: left;

    margin-bottom: 20px;

    color: var(--white-bc-color);
}

.footer-social-list {
    display: flex;
    justify-content: center;
}

.footer-social-item + .footer-social-item {
    margin-left: 10px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-bc-color);

    transition: background-color 250ms var(--timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color)
}

.footer-social-icon {
    fill: var(--white-bc-color)
}

.footer-social-link:hover .footer-social-icon {
    fill: var(--white-bc-color);
}

/* ----- Mailing-List ----- */

.mailing-list {
    display: block;
    margin-left: 93px;

    width: 570px;
    height: 86px;
}

.mailing-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;

    margin-bottom: 20px;

    color: var(--white-bc-color);
}

.subscribe-field {
    display: flex;
}

.subscribe-email {
    width: 358px;
    height: 50px;

    padding-left: 16px;
    border: 1px solid #FFFFFF99;
    border-radius: 4px;

    color: #FFFFFF99;
    background-color: transparent; 
    transition: border 250ms var(--timing-function),
                 color 250ms var(--timing-function);
}

.subscribe-email:focus {
  outline: none;
  color: var(--white-bc-color);
  border: 1px solid var(--accent-color);
}

.subscribe-email::placeholder {
    color: #FFFFFF99;
    transition: color 250ms var(--timing-function);
  }
  .subscribe-email:focus::placeholder {
    color: var(--accent-color);
  }

  .subscribe-btn {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background-color: var(--accent-color);
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border 250ms var(--timing-function);
  }
  .subscribe-btn:focus {
    outline: none;
    border: 2px solid #FFFFFF99;
  }

  .subscribe-text {
    position: absolute;
    top: 50%;
    left: 29px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transform: translateY(-50%);
    color: var(--white-bc-color);
  }

  .subscribe-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
  }

/* Portfolio */

.portfolio-page {
    font-family: "Roboto", Tahoma, sans-serif;
    background-color: var(--white-bc-color);
    color: var(--primary-text-color);
}

/* ----- Portfolio ----- */

.portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee;

    background-color: var(--white-bc-color);
}

.portfolio .container {
    display: flex;
    align-items: center;
}
.portfolio-logo {
    margin-right: 93px;
    display: block;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

    color: var(--accent-color);
}
.portfolio-logo-black {
    color: var(--primary-text-color);
}
.portfolio-link {
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;

    color: var(--primary-text-color);

    transition: color 250ms var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
    color: var(--accent-color);
}


.current {
    color: var(--accent-color);
} 

.portfolio-list {
    display: flex;
}

.portfolio-item:not(:last-child) {
    margin-right: 50px;
}

.portfolio-nav {
    margin-left: auto;
}

.portfolio-address {
    display: flex;
}


.portfolio-mail-link {
    display: flex;
    align-items: center;

    margin-right: 50px;
    color: var(--secondary-text-color);

    transition: color 250ms var(--timing-function);
}

.portfolio-mail-link:hover,
.portfolio-mail-link:focus {
    color: var(--accent-color);
}

.portfolio-tel-link {
    display: flex;
    align-items: center;

    color: var(--secondary-text-color);

    transition: color 250ms var(--timing-function);
}
.portfolio-tel-link:hover,
.portfolio-tel-link:focus {
    color: var(--accent-color);
}

/* ----- filter ----- */

.filter {
    padding-top: 94px;
    padding-bottom: 94px;

    /*background-color: var(--primary-bc-color); */
}

.filter-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
    display: block;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

font-family: inherit;    
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;

    background-color: var(--team-bc-color);
    color: var(--primary-text-color);
    cursor: pointer;

    transition: color 250ms var(--timing-function),
     background-color 250ms var(--timing-function),
     box-shadow 250ms var(--timing-function);
}
.filter-btn:hover,
.filter-btn:focus {
    box-shadow: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001A;

    background-color: var(--accent-color);
    color: var(--white-bc-color);
}
.filter-btn.current {
    background-color: var(--accent-color);
}

.filter-list-project {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.filter-list-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms var(--timing-function);
}

.filter-list-item:hover,
.filter-list-item:focus {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}

.filter-list-item:hover .filter-top-text {
    transform: translateY(0%);
}

.filter-wrap {
    position: relative;
    overflow: hidden;
}

.filter-top-text {
    position: absolute;
    top: 0;
    overflow: auto;

font-weight: 400;
font-size: 18px;
line-height: 1.56;

    padding: 63px 24px;
    transform: translateY(100%);

color: var(--white-bc-color);
background-color: #2196F3E5;

transition: transform 250ms var(--timing-function);
}


.filter-box {
    padding: 20px 24px;

    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.filter-name {
    margin-bottom: 4px;

font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
text-align: left;

    color: var(--primary-text-color)
}
.filter-text {
font-weight: 400;    
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
text-align: left;

    color: var(--secondary-text-color)
}

/* ----- footer ----- */

.portfolio-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-bc-color);
}

.portfolio-footer .container {
    display: flex;
    align-items: baseline;
}

.portfolio-footer-logo {
    display: block;
    margin-bottom: 20px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

    color: var(--accent-color);
}

.portfolio-footer-logo-white {
    color: var(--white-bc-color);
}

.portfolio-contacts-list {
    max-width: 231px;
}

.contacts-link-street {
    display: block; 


    color: var(--white-bc-color);
}

.contacts-mail-link {
    display: block;
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--timing-function);
}
.contacts-mail-link:hover,
.contacts-mail-link:focus {
    color: var(--accent-color);
}

.contacts-tel-link {
    display: block;
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--timing-function);
}

.contacts-tel-link:hover,
.contacts-tel-link:focus {
    color: var(--accent-color);
}


/* ----- Присоединяйтесь footer ----- */

.portfolio-footer-social {
    margin-left: 70px;
    display: block;
    justify-content: center;
}

.portfolio-footer-social-title {
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;

margin-bottom: 20px;

    color: var(--white-bc-color);
}

.portfolio-footer-social-list {
    display: flex;
    justify-content: center;
}

.portfolio-footer-social-item + .portfolio-footer-social-item {
    margin-left: 10px;
}

.portfolio-footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-bc-color);

    transition: background-color 250ms var(--timing-function);
}

.portfolio-footer-social-link:hover,
.portfolio-footer-social-link:focus {
    background-color: var(--accent-color)
}

.portfolio-footer-social-icon {
    fill: var(--white-bc-color)
}

.portfolio-footer-social-link:hover .portfolio-footer-social-icon {
    fill: var(--white-bc-color);
}


/* ----- Modal ----- */

.backdrop {
    position: fixed;
    top: 0;
    
width: 100%;
height: 100%;

background-color: #00000033;

transition: opacity 250ms var(--timing-function),
visibility 250ms var(--timing-function);
/*display: flex;
    align-items: center;
    justify-content: center; */
}

.backdrop.is-hidden .modal {
    transform: scale(0.5);
}

.modal {
width: 528px;
height: 581px;
border-radius: 4px;
padding: 40px 40px 120px 40px;

box-shadow: 0px 2px 1px 0px #00000033,
0px 1px 1px 0px #00000024,
0px 1px 3px 0px #0000001F;

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms var(--timing-function);

background-color: var(--white-bc-color);
}

.modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    /*border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 50%;

    margin-top: 8px;
    margin-right: 8px;

    transition: background-color  250ms var(--timing-function);

    background-color: #ffffff00;
    fill: var(--primary-text-color);
    transition: fill 250ms var(--timing-function);
}

.modal-btn:hover {
    fill: var(--accent-color);
  }

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-tittle {

    width: 448px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px; 

    color: var(--primary-text-color); 
}

.modal-field {
    margin-bottom: 10px;

}

.modal-comment-field {
    margin-bottom: 20px;
}

.modal-label {

    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    color: var(--secondary-text-color); 
}

.modal-input {

    width: 100%;
    height: 40px;
    border: 1px solid #21212133;
    border-radius: 4px;

    margin-top: 4px;
    padding-left: 42px;

    transition: border 250ms var(--timing-function);
    color: var(--secondary-text-color);
}

.modal-input:focus {
    outline: none;
    border: 1px solid #2196F3; 
    fill: var(--accent-color)
}


.modal-input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;

    left: 12px;
    bottom: 11px;
        /*top: 50%;
        transform: translateY(-50%);*/
fill: var(--primary-text-color);
transition: fill 250ms var(--timing-function);
}

.modal-input:focus + .input-icon {
    fill: var(--accent-color)
} 

.modal-comment {

    width: 100%;
    height: 120px;
    border: 1px solid #21212133;
    border-radius: 4px;

    min-width: 448px;
    max-width: 448px;
    max-height: 120px;
    min-height: 120px;

    margin-top: 4px;
    padding: 12px 16px;
    resize: none;

    transition: border 250ms var(--timing-function);
    color: var(--secondary-text-color);
}

.modal-comment:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  .modal-comment::placeholder {
    color: #75757580;
  }

  .modal-checkbox-field {
      margin-bottom: 30px;
  }

  .check-text::before {
      content: "";
      width: 16px;
      height: 15px;

      margin-right: 7px;
      border: 2px solid var(--primary-text-color);
      border-radius: 4px;
  }

  .check-text {
    display: flex;
    align-items: center;

      font-size: 14px;
      line-height: 1.46;
      letter-spacing: 0.03em;

      margin-left: 14px;

      color: var(--secondary-text-color);
  }

  .input-check:checked + .check-text::before {
      border: none;

      background-image: url(../images/check.svg);
      background-repeat: no-repeat;
      background-position: center;

      transition: box-shadow 250ms var(--timing-function);
      border-color: var(--accent-color);
      background-color: var(--accent-color);
  }

  .input-check:focus + .check-text::before {
    border-color: var(--accent-color);
  }

  .checkbox-link {
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;

    margin-left: 5px;

    color: var(--accent-color);
    border-radius: 4px;
    transition: box-shadow 250ms var(--timing-function);
  }

  .checkbox-link:focus {
    outline: none;
    box-shadow: 0 0 0 0.1em var(--accent-color);
  }


/*
.input-check:focus + .check-text span {
    background-color: var(--accent-color);  
} */

.modal-submit-btn {
    position: absolute;
    width: 200px; 
    height: 50px;
    transform: translateX(-50%);
    bottom: 40px;
    left: 50%;
    
font-weight: 700;    
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;

border: none;
border-radius: 4px;
color: var(--white-bc-color);
background-color: var(--accent-color);

transition: box-shadow 250ms var(--timing-function),
            background-color 250ms var(--timing-function);

}

.modal-submit-btn:focus {
    outline: none;
    background-color: #188ce8;
    box-shadow: 0 0 0 0.2em #AFB1B8;
} 