.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee;

    background-color: var(--white-bc-color);
}

.header .container {
   display: flex;
   align-items: center;
}

.header-logo {
   display: block;
   margin-right: 93px;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

   color: var(--accent-color);
}

.menu-list {
   display: flex;
}

.menu-list__link {
padding-top: 32px;
padding-bottom: 32px;

color: var(--primary-text-color);

position: relative;

transition: color 250ms var(--timing-function);
}

.menu-list__link:hover,
.menu-list__link:focus {
   color: var(--accent-color);
}

.current::after {
   content: '';

   display: block;
   position: absolute;
   left: 0px;
   bottom: -1px;
   border-radius: 2px;

   width: 100%;
   height: 4px;

   background-color: var(--accent-color);
}

.current {
   color: var(--accent-color);
}

.menu-list__item:not(:last-child) {
   margin-right: 50px;
}

.header-navigation {
   margin-left: auto;
}

.address {
   display: flex;
}

.address__mail {
   display: flex;
   margin-right: 50px;
   align-items: center;

   color: var(--secondary-text-color);

   transition: color 250ms var(--timing-function);
}

.address__mail:hover,
.address__mail:focus {
   color: var(--accent-color);  
}

.address__mail-icon {
   margin-right: 10px;
   
   fill: currentColor;
   }

.address__tel {
   display: flex;
   align-items: center;

   color: var(--secondary-text-color);  

   transition: color 250ms var(--timing-function);
}

.address__tel:hover,
.address__tel:focus {
   color: var(--accent-color);
}

.address__tel-icon {
   margin-right: 10px;
   align-items: baseline;
   
   fill: currentColor;
   }