.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--secondary-bc-color);

        background-image:linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero_bc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1600px;
        margin: 0 auto;
}
.hero__title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: var(--white-bc-color);
}

.hero__btn { 
    width: 200px; 
    height: 50px;
    border: none;
    border-radius: 4px;

font-family: inherit; 
font-style: normal; 
font-weight: 700;  
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
background-color: var(--accent-color);

    display: block;
    margin: 0 auto;
    text-align: center;

color: var(--white-bc-color);
cursor: pointer;

transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: #188ce8;
}