.start-page {
    font-family: "Roboto", Tahoma, sans-serif;
    background-color: var(--white-bc-color);
    color: var(--primary-text-color);
 }

 .link {
    text-decoration: none;
}

.list {
    list-style: none;
}