:root {
    --primary-bc-color: #E5E5E5;
    --secondary-bc-color: #2F303A;
    --team-bc-color: #F5F4FA;
    --white-bc-color: #FFFFFF; 
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.start-page {
    font-family: "Roboto", Tahoma, sans-serif;
    background-color: var(--white-bc-color);
    color: var(--primary-text-color);
 }
